/* selector universal */
* {
  text-decoration: underline;
}

/* selector etiqueta */
p {
  color: blue;
}

/* selector por clase */
.p-importante {
  font-weight: bold;
  color: green;
}

/* selectores de id */
#btn {
  background: yellow;
}

/* operadores */
/* el espacio, toma todos los li que esten dentro de un ul no importa el nivel en el que se encuentren los li */
ul li {
  color:steelblue;
}

/* lo que hace el operador > es tomar los PRIMEROS HIJOS de tipo li de los ul  */
ul > li {
  font-weight: bold;
}

/* , Es el equivalente a un Y */
.series, .idioma-espanol {
  border:2px solid red;
}

/* + a los 1eros elementos adyacentes, en este caso a los primeros div que estan después de un h2 */
h2 + div {
  color: orangered;
}


/* aplicar estilos a los elementos debajo del primer selector, a todos los div que esten debajo de un h2 (como hermanos que están por debajo) */
h2 ~ div {
  font-family: Impact;
}

/* tabla */
table {
  border-collapse: collapse ;
}

/* pseudoclases */
/* td {
  border: 2px solid black;

} */

td:hover {
  text-decoration: none;
  color:red;
  cursor: pointer;
}

/*nth Nth (Fourth) al cuarto elemento que tenga ese selector*/
td:nth-of-type(1){
  background-color: blue;
}

td:nth-of-type(2){
  background-color: skyblue;
}

/* odd -> impar */
tr:nth-of-type(odd){
  border:2px solid green;
}

/*even - par */
tr:nth-of-type(even){
  border:2px solid red;
}

/* pseudo elementos */
input::placeholder {
  font-weight: 500;
  color:purple;
  text-transform: uppercase;
}

/* before - antes */
button::before {
  content: "-----"
}

button:after {
  content:"-----------"
}

/*ESPECIFICIDAD*/

td:hover {
  color: purple;
  font-weight: 500;
  
}
/*es mas especifica, id referencia solo a un elemento*/
#btn-enviar {
  color: peru;
}

/*es mas especifica, a un grupo o a uno*/
.btn {
  color: blue;
}

button {
  color: green;
}
/*podria afectar a cualquiera*/
button {
  color: orangered;
}

