/* selector universal */
* {
  text-decoration: underline;
}

/* selector etiqueta */
p {
  color: blue;
}

/* selector por clase */
.p-importante {
  font-weight: bold;
  color: green;
}

/* selectores de id */
#btn {
  background: yellow;
}

/* operadores */
/* el espacio, toma todos los li que esten dentro de un ul no importa el nivel en el que se encuentren los li */
ul li {
  color:steelblue;
}

/* lo que hace el operador > es tomar los PRIMEROS HIJOS de tipo li de los ul  */
ul > li {
  font-weight: bold;
}

/* , Es el equivalente a un Y */
.series, .idioma-espanol {
  border:2px solid red;
}

/* + a los 1eros elementos adyacentes, en este caso a los primeros div que estan después de un h2 */
h2 + div {
  color: orangered;
}

h2 ~ div {
  font-family: Impact;
}