/* selector universal */
* {
  text-decoration: underline;
}

/* selector etiqueta */
p {
  color: blue;
}

/* selector por clase */
.p-importante {
  font-weight: bold;
  color: green;
}

/* selectores de id */
#btn {
  background: yellow;
}

/* operadores */
/* el espacio, toma todos los li que esten dentro de un ul no importa el nivel en el que se encuentren los li */
ul li {
  color:steelblue;
}

ul > li {
  font-weight: bold;
}