* {
  /*reset*/
  margin:0;
  bottom: 0;
  box-sizing: border-box;

  border:2px solid red;
}

/* La gran mayoria de elementos tendrán un display block, lo que significa que ocuparan todo el ancho disponible y se apilaran uno debajo del otro, como bloques de Lego encajados uno encima de otro */

h1 {
  width: 150px;
  display:block;
  border-color:blue;
}

h5 {
  width:150px;
  display:block;
  border-color:purple;
}

span {
  background-color: yellow;
  /*display: inline; por defecto los span son inline, lo que significa que solo ocupan el espacio necesario para su contenido y se alinean horizontalmente con otros elementos en la misma línea*/
  display: inline;
  width:400px;
}

input, button {
  /*inline-block es una mezcla entre block e inline, lo que significa que ocupan solo el espacio necesario para su contenido pero se comportan como bloques, permitiendo establecer dimensiones y márgenes*/
  /*tienen un espaciado entre ellos, esto se debe a que los elementos inline-block respetan los espacios en blanco en el código HTML, lo que puede crear un espacio adicional entre ellos.*/
  /*NO USAR INLINE BLOCK, dejarlo los elementos que lo tienen x defecto*/
  width: 120px;
}

.links {
  width:304px;
  border-color:green;
}

li {
  width:96px;
  border-color: orangered;
  display: inline-block;
}

.escondido {
  /*display none hace que no se dibuje el o los elementos*/
  display: none;
  /*visibility hidden hace elementos invisibles*/
  /* visibility: hidden; */
}