* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* temporal */
  border:1px solid red;
}

.container {
  max-width: 1200px;
  min-width: 800px;
  min-height: 1000px;
  margin: 0 auto;
  padding:40px;
  /* grid */
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(4, minmax(150px, 1fr));
  gap:20px;
}

.card {
  position: relative;
  filter: blur(1px) sepia(0.4); /*desenfoque 1px*/
  transition-duration: 300ms;
  animation-name: entrada;
  animation-duration: 400ms;
}

.card:hover {
  filter: blur(0) sepia(0);
  box-shadow: 0px 0px 10px black;
  transform: translateX(5px) scale(1.03) rotate(0.5deg);
}

.card span {
  position: absolute;
  top:5px;
  left:5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.card img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

.card1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.card2 {
  grid-row: 1 / 3;
}

.card3 {
  grid-row: 1 / 3;
}

.card4 {
  grid-column: 2 / 4;
}

.card5 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.card8 {
  grid-column: 3 / 5;
  grid-row: 4 / 5
}

@keyframes entrada {
  0% {
    /* el elemento no se va a ver */
    transform: scale(0);
  }

  70% {
    /* aquí se verá un poquito mas grande */
    transform: scale(1.05);
  }

  100% {
    /* se ve normal en su escala */
    transform: scale(1);
  }
}
