* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.padre {
  border:2px solid red;
  width: 800px;
  /* flex */
  display: flex;
  /* horizontal */
  /* justify-content: center; */
  /* justify-content: space-evenly; */
  /* justify-content: space-between; */
  justify-content: space-around;
}

.hijo {
  border:2px solid blue;
  width:100px;
  height: 100px;
}