* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.grilla {
  background-color: lightblue;
  height: 900px;
  /* grid */
  display: grid;
  gap:10px;
  /* grid-template-columns: 200px 200px 200px; */
  /* 1fr, es un free space, toma el espacio libre */
  grid-template-columns: 200px 200px 1fr;
  /* 1fr - free space */
  grid-template-rows: 200px 200px 200px;
}

.item {
  background-color: coral;
}

