* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.contenedor {
  border:2px solid blue;
  background-color: lightblue;
  height:900px;
  margin:90px;
  position:relative; /*servira de referencia a un absolute*/
}

.caja {
  border:2px solid black;
  width:100px;
  height:100px;
  font-size:24px;
}

.caja1 {
  background-color: aqua;
}

.caja2 {
  background-color: goldenrod;
  position: absolute;
  top: 100px;
  left:50px;
  /* right: 50px; */
  /* si no encuentra un elemento superior con relative toma en cuenta el navegador en su posicionamiento, de no ser asi se acomoda en base al position relative */

  z-index:29;
}

.caja3 {
  background-color: coral;
  /* se va pegando a la parte superior al desplazarse, sin romper la estructura */
  position: sticky;
  top: 50px;


  z-index:19;
}

.caja4 {
  background-color: blue;
  /* se va a colocar tomando de referencia la ventana del navegador */
  position: fixed;
  bottom: 50px;
  right: 100px;
}

.caja5 {
  background-color: greenyellow;
}