.elemento {
  width: 300px;
  height: 200px;
  border:2px solid red;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content:center;
  transition-property: all;
  transition-duration: 300ms;
  /* transition-timing-function: ease-in-out; */
  transition-timing-function: cubic-bezier(1,.02,0,1.01);
}

.elemento:hover {
  height: 300px;
  border-radius: 50%;

}

p {
  width:350px;
  height: 150px;
  border: 2px solid green;
  padding:20px;
  font-size: 20px;
  transform: translate(100px, 50px) scale(1.2) rotate(45deg);
  /* etapas
  1. va leer todo el html, css, js
  2. va a dibujar el html
  3. va a aplicar estilos comunes de css
  4. va aplicar transformaciones, transiciones, animaciones
  */
}