* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:32px;
  color: red;
}

p {
  padding:20px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:blue;
}

@media screen and (width >= 1024px) {
  h1 {
    color:purple;
    font-size: 28px;
  }

  p {
    text-decoration: underline;
  }
}


@media (width <= 500px) {
  h1 {
    color:orangered;
    font-size: 40px;
  }

  p {
    color: green;
  }
}
